/* 
font-family: 'Space Grotesk', sans-serif;
font-family: 'Space Mono', monospace; 
*/
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: #fff;
}


.container{
    max-width: 1920px;
    background-color: #000;
    margin: 0 auto;
}
:root{
    --white-color: #fff;
    --green-color: #028465;
    --dark-green-color: #00664E;
    --dark-gray-color: #5E5E5E;
    --light-gray-color: #D4D4D4;
    --gray-dis-color: #D4D4D4;
    --black-color: #050505;
    --lines-hover-color: #525252;
    --lines-color: #333333;
    --link-hover: #676767;
    --menu-link-hover: #9d9d9d;
    --arrow-width: 60px;
}


/* TEXT STYLES */

h1, h2, h3, h4, .text-h1, .text-h2, .text-h3, .text-h4{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {font-size: 96px;}
h2, .text-h2{font-size: 86px;}
h3 {font-size: 64px;}
h4, .text-h4{font-size: 36px;}

.text-h1{font-size: 5vw;}
.text-h3{font-size: 3.3vw; line-height: 100%;}

.text-large{
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}
.text-medium{
    font-size: 16px;
    line-height: 123%;
}
.text-small{
    font-size: 14px;
    line-height: 123%;
}
.kampela-logo{
    font-family: 'Space Mono', monospace; 
    font-weight: 500;
    text-transform: uppercase;
}

a{color: var(--white-color);}

a.underline{
    position: relative;
    text-decoration: none;
    overflow: hidden;
}
a.underline::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--white-color);
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
a.underline:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

.arrows-wrapper{
    width: 22px;
    height: 22px;
    position: relative;
    left: -40px;
    transform: translate(0, 0);
    transition: transform 400ms ease;
}
.arrows-wrapper:hover{
    transform: translate(100%, -100%);
    transition: transform 400ms ease;
}
.arrow{
    width: 60px;
    height: 22px;
    background: url('../img/arrow-right-up.png') no-repeat top right;
}
.arrow.bottom{
    position: relative;
    left: -100%;
}



/* ELEMENTS */

.order-button {
    background-color: var(--green-color);
    color: var(--white-color);
    text-align: center;
    text-decoration: none;
    padding: 21px 20px;
    border: none;
    border-radius: 37px;
    cursor: pointer;
}
.order-button:hover{
    background-color: var(--dark-green-color);
}
.order-button a{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
    background: url('../img/arrow-right.png') no-repeat 100% 0;
    background-size: 20px;
    padding-right: 24px;
    text-decoration: none;
    text-transform: uppercase;
}
.order-button.white{
    background-color: white;
}
.order-button.white:hover{
    background-color: var(--light-gray-color);
}
.order-button.white a{
    color: var(--black-color);
    background: url('../img/arrow-right-black.png') no-repeat 100% center;
}

.border-container{
    padding: 32px;
    border: 1px solid var(--lines-color);
    border-radius: 15px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hmenu{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.hmenu li:last-child{
    margin: 0;
    padding: 0;
}
.hmenu li a{
    text-decoration: none;
}



/* FIXED TOP MENU */

#fixed-menu {
    min-height: 100px;
    padding: 22px 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fixed-menu .left-container {
    display: flex;
    align-items: center;

}
#logo {
    margin-right: 5vw;
}
.main-menu{
    gap: 1.25vw;
}
.main-menu li{
    font-size: 16px;
    text-transform: uppercase;
}
.main-menu li a:hover{color: var(--menu-link-hover);}

#fixed-menu .right-container {
    display: flex;
    align-items: center;
}
.link-menu{
    margin-right: 2.9vw;
    gap: 2.2vw;
}
.link-menu li{
    line-height: 118%;
}
.link-menu li a{
    font-weight: 300;
    font-size: 16px;
    display: flex;
}

/* FIRST SCREEN */
.first-screen {
    max-height: 100%;
    background: url('../img/star-icon-18.png') left 39vw top 7vw no-repeat,
                url('../img/star-icon-19.png') right 30vw bottom 5vw no-repeat;
}
.headline{
    width: 78vw;
    margin: 14.5vh auto;
    position: relative;
}
.headline .description{
    position: relative;
    top: 2vw;
    margin-left: auto;
    max-width: 21vw;
    font-size: 3vw;
    line-height: 2.6vw;
}
.description img{
    margin-left: 11px;
    width: 5.781vw;
}
.first-screen h1{
    font-size: 18vw;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
}
 
.preorder-buttons{
    width: 392px;
    margin: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preorder-buttons .order-button{
    padding: 17px 20px;   
}


/* RUNNING TEXT LINE */

@keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}
.running-text-line{
    height: 48px;
    width: 100%;
    overflow: hidden;
    padding: 11px;
    border-top: 1px solid var(--dark-gray-color);
    border-bottom: 1px solid var(--dark-gray-color);
    display: flex;
    white-space: nowrap;
}
.running-text{
    font-family: 'Space Mono', monospace; 
    font-size: 16px;
    text-transform: uppercase;
    animation: animate_text 30s linear infinite;
}
.running-text p{
    padding: 0;
    margin: 0;
}
.running-text .gray{
    color: var(--lines-hover-color)
}


/* ABOUT SCREEN */

#about-screen{
    position: relative;
    height: 1300px;
    background: url('../img/line.png') right center no-repeat, 
                url('../img/planet.png') right 334px top 165px no-repeat,
                url('../img/star-icon-1.png') right 293px top 433px no-repeat,
                url('../img/star-icon-2.png') right 514px bottom 473px no-repeat,
                url('../img/star-icon-3.png') left 320px bottom 278px no-repeat;
    background-size: 50vw, 13.5vw, 1.8vw, 1.8vw, 4vw;
}
#about-screen .kampela-img{
    background: url('../img/kampela-img.png') center no-repeat;
    background-size: 30.2vw;
    width: 711px;
    height: 970px;
    position: absolute;
    top: 93px;
    left: 0;
    right: 0;
    margin: auto;
}

#about-text-block-1{
    width: 30.5vw;
    position: relative;
    top: calc(100px + 4.5vw);
    left: 10vw;
}
#about-text-block-2{
    width: 22vw;
    position: relative;
    top: calc(400px + 6.8vw);
    left: 66.5vw;
}
#prop-list-container{
    margin-top: 16px;
    display: flex;
    
}
.prop-list{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-right: 2.7vw;
}
.prop-list li{
    display: inline-block;
    background: url('../img/arrow-right.png') top 3px left no-repeat;
    background-size: 22px;
    padding-left: 29px;
    margin-bottom: 16px;
}


/* KAMBALA SCREEN */

#kambala-screen{
    height: 62.5vw;
    background: url('../img/binline.png') left top no-repeat,
                url('../img/lake-bottom.png') center bottom no-repeat;
    background-size: 100vw;
}


/* VIDEO SCREEN */

#video-screen img{
    width: 100%;
}


/* FEATURES SCREEN */

#features-screen {
    background: url('../img/star-icon-18.png') right 14vw top 154px no-repeat;
    padding: calc(100px + 4.15vw) 0 42px 56px;
}
#features-screen h2{
    line-height: 100%;
}
#features-container{
    display: flex;
    margin-top: 64px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.feature-block{
    width: 33vw;
    min-height: 34vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.feature-block p{
    color: var(--link-hover);
}
.feature-block img{
    width: 90%;
}


/* CHECK SCREEN */

#check-screen{
    position: relative;
    min-height: 1000px;
    background: url('../img/check-screen-bg.png') center top -9px no-repeat;
    background-size: 100vw;
}
#check-screen img{
    width: 24.4vw;
    position: absolute;
    top: 6.4vw;
    left: 37.8vw;
}
#check-screen div{
    width: 12.5vw;
    background: url("../img/check-icon.png") top left no-repeat;
    padding: 0;
    padding-top: 48px;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}
#check-block-1{
    top: 7.6vw;
    left: 28vw;
}
#check-block-2{
    top: 21.1vw;
    left: 20.26vw;
}
#check-block-3{
    bottom: 13vw;
    left: 23.2vw;
}
#check-block-4{
    top: 14.7vw;
    right: 19.1vw;
}
#check-block-5{
    bottom: 12.8vw;
    right: 24.37vw;
}


/* HOW IT WORKS */

#how-it-works{
    padding: 96px 56px;
}
#work-steps-block{
    margin-top: 50px;
    padding: 0;
    border-top: 1px solid var(--lines-hover-color);
    display: flex;
}
.work-step:last-child{
    margin-right: 0;
}
.work-step{
    margin-right: 52px;
    width: 33.2vw;
    height: 33vw;
    color: var(--lines-hover-color);
}
.step-number{
    display: inline-block;
    font-size: 14px;
    border: 1px solid var(--lines-hover-color);
    border-radius: 22px;
    padding: 8px 16px;
    position: relative;
    top: -19px;
    background-color: black
}
.work-step h4{
    font-size: 36px;
    margin: 0;
    color: var(--lines-hover-color);
}
.work-step-container{
    margin-top: 72px;
    width: 30.7vw;
    height: 25vw;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(#181818, #050505);
}
.work-step.active{
    color: var(--white-color);
}
.work-step.active h4{
    color: var(--white-color);
}
.work-step.active .step-number{
    border-color: var(--white-color);
}


/* PRICING */

#pricing-screen{
    padding: 90px 56px;
    position: relative;
}
#delivery{
    width: 211px;
    position: absolute;
    right: 35vw;
    top: 134px;
}
#price-container{
    margin-top: 64px;
    display: flex;
    gap: 1vw;
}

.product {
    position: relative;
    width: 30vw;
    min-height: 743px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.available {
    position: absolute;
    top: 1.7vw;
    right: 1.7VW;
    width: 7.1vw;
    padding: 54px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    background: url('../img/available-icon.png') center no-repeat;
    background-size: 7.1vw;
}
.price-order {
    margin-top: 25px;
}
.price-order div{
    color: #606060;
}
.price-order .price {
    color: var(--white-color);
    font-size: 64px;
    line-height: 75%;
}
.price-order .order-button {
    margin-top: 25px;
    width: 100%;
}


/* QUOTES */
#quotes-screen{
    padding: 90px 11vw 0px;
}
#quotes-body{
    background: url('../img/quote-icon.png') top 96px left 4px no-repeat;
    padding-left: 8vw;
}
#quotes-header{display: flex;}
#quotes-title{margin-right: 93px;}
.pages-nav{
    display: flex;
}
.pages-nav menu{
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
}
.pages-nav menu li{
    display: inline-block;
    padding-right: 16px;
}
.pages-nav menu li:last-child{padding-right: 0;}
.pages-nav menu li a{
    color: var(--lines-hover-color);
    text-decoration: none;
}
.quote{margin: 52px 0;}
.author{
    height: 56px;
    display: flex;
    align-items: center;
}
.author img{
    margin-right: 24px;
}


/* KAMPELA IN PRESS */

#kampela-in-press{
    background: url('../img/press-bg-space.png') top right no-repeat;
    background-size: 46vw;
    padding: calc(100px + 4vw) 56px;
}
#press-container{
    margin-top: 64px;
    display: flex;
}
.press-block{
    width:30vw;
    min-height: 403px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.press-item-date{
    color: var(--link-hover);
    margin-top: 16px;
}


/* FOOTER  */

#footer{
    padding: 40px 56px 32px;
    display: flex;
    justify-content: space-between;
}
#footer .left-container{
    min-height: 332px;
}
#footer .logo{
    height: 150px;
}
#footer-kampela{
    font-size: 128px;
    line-height: 128px;
}
#copyrights{
    display: flex;
}
#terms-policy {
    margin-left: 64px;
}
#terms-policy li{
    padding-right: 24px;
}
#terms-policy a{
    color: var(--link-hover);
    
}
#footer .right-container{
    align-items: flex-end;
}


/* @media (max-width: 1440px) {
    
    .container{
        max-width: 1440px;
        background-color: #525252;
    }
} */
@media (max-width: 1280px){
    .container{
        max-width: 1280px;
        background-color: #131446;
    }
    h1, .text-h1{font-size: 48px;}
    h2, .text-h2{font-size: 36px;}
    h3, .text-h3{font-size: 24px;}
    h4, .text-h4{font-size: 20 px;}
} 